@model List<Skill>
<div class="section px-3 px-lg-4 pt-5" id="skills">
	<div class="container-narrow">
		<div class="text-center mb-5">
			<h2 class="marker marker-center">Yeteneklerim</h2>
		</div>
		<div class="text-center">
			<p class="mx-auto mb-3" style="max-width:600px">Aşağıda bildiğim programlama dilleri bulunmaktadır.Yeni bir programlama dilini öğrenmek benim için oldukça hızlı gerçekleşen durumdur.</p>
		</div>
		<div class="bg-light p-3">
			<div class="row">
				<div class="col-md-12">


					<div class="py-1">
						<div class="d-flex text-small fw-bolder">
							<span class="me-auto"><h4>C#</h4></span>
							<span><img src="/Template/images/me/c#.png" /></span>
						</div>
					</div>
					<div class="py-1">
						<div class="d-flex text-small fw-bolder">
							<span class="me-auto"><h4>CSS</h4></span>
							<span><img src="/Template/images/me/c#.png" /></span>
						</div>
					</div>
					<div class="py-1">
						<div class="d-flex text-small fw-bolder">
							<span class="me-auto"><h4>HTML</h4></span>
							<span><img src="/Template/images/me/c#.png" /></span>
						</div>
					</div>
					<div class="py-1">
						<div class="d-flex text-small fw-bolder">
							<span class="me-auto"><h4>MSSQL</h4></span>
							<span><img src="/Template/images/me/c#.png" /></span>
						</div>
					</div>
					<div class="py-1">
						<div class="d-flex text-small fw-bolder">
							<span class="me-auto"><h4>.NET MVC</h4></span>
							<span><img src="/Template/images/me/c#.png" /></span>
						</div>
					</div>
					<div class="py-1">
						<div class="d-flex text-small fw-bolder">
							<span class="me-auto"><h4>.NET APİ</h4></span>
							<span><img src="/Template/images/me/c#.png" /></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
