@model List<Sservice>
<div class="section px-3 px-lg-4 pt-5" id="services">
    <div class="container-narrow">
        <div class="text-center mb-5">
            <h2 class="marker marker-center">Özgeçmiş</h2>
        </div>
        <div class="text-center">
            <p class="mx-auto mb-3" style="max-width:600px">Ben Caner Bayraktar 04/08/1994 Eskişehir doğumluyum.
            <p>*Bilecik Atatürk İlkÖğretim Okulu</p>
            <p>*Bilecik Anadolu Ticaret Meslek Lisesi</p>
            <p>*Bilecik Şeyh Edebalı Üniversitesi (Önlisans)</p>
            <p>*Anadolu Üniversitesi eğitim hayatımı tamamladım.(Lisans)</p>
            Kendimi yazılım alanında geliştirmek istediğime karar verdim sonra kurslara ile kendimi geliştirmeye devam ediyorum.

            </p>
        </div>
    </div>
</div>