<ul class="nav">
	<li class="nav-item profile">
		<div class="profile-desc">
			<div class="profile-pic">
				<div class="count-indicator">
					<img class="img-xs rounded-circle " src="~/corona-free-dark-bootstrap-admin-template-1.0.0/template/img/a.JPG" alt="">
					<span class="count bg-success"></span>
				</div>
				<div class="profile-name">
					<h5 class="mb-0 font-weight-normal">Caner Bayraktar</h5>
				</div>
			</div>
		</div>
	<li class="nav-item menu-items">
		<a class="nav-link" href="/Dashboard/Index">
			<span class="menu-icon">
				<i class="mdi mdi-speedometer"></i>
			</span>
			<span class="menu-title">Ana Sayfa</span>
		</a>
	</li>
	<li class="nav-item menu-items">
		<a class="nav-link" href="/Default/Index">
			<span class="menu-icon">
				<i class="mdi mdi-speedometer"></i>
			</span>
			<span class="menu-title">Siteyi Gör</span>
		</a>
	</li>
	<li class="nav-item menu-items">
		<a class="nav-link" href="/About/Index">
			<span class="menu-icon">
				<i class="mdi mdi-speedometer"></i>
			</span>
			<span class="menu-title">Hakkımda Düzenle</span>
		</a>
	</li>
	<li class="nav-item menu-items">
		<a class="nav-link" href="/Feature/Index">
			<span class="menu-icon">
				<i class="mdi mdi-speedometer"></i>
			</span>
			<span class="menu-title">Özellik Düzenle</span>
		</a>
	</li>
	<li class="nav-item menu-items">
		<a class="nav-link" href="/Skill/Index">
			<span class="menu-icon">
				<i class="mdi mdi-speedometer"></i>
			</span>
			<span class="menu-title">Yeteneklerim</span>
		</a>
	</li>
	<li class="nav-item menu-items">
		<a class="nav-link" href="/Portfolio/Index">
			<span class="menu-icon">
				<i class="mdi mdi-speedometer"></i>
			</span>
			<span class="menu-title">Projelerim</span>
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link"  data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic" >
			<span class="menu-icon">
				<i class="mdi mdi-speedometer"></i>
			</span>
			<span class="menu-title">Mesajlar</span>
			<i class="menu-arrow"></i>
		</a>
		 <div class="collapse" id="ui-basic"> 
			<ul class="nav flex-column sub-menu">
				<li class="nav-item"> <a class="nav-link" href="~/Message/SendMessage~/">Mesaj Gönder</a></li>
				<li class="nav-item"> <a class="nav-link" href="~/Message/RecieverMessage/">Gelen Mesajlar</a></li>
				<li class="nav-item"> <a class="nav-link" href="~/Message/SenderMessage/">Gönderilen Mesajlar</a></li>
			</ul>
		</div>
	</li>
	<li class="nav-item menu-items">
		<a class="nav-link" href="/Contact/Index">
			<span class="menu-icon">
				<i class="mdi mdi-speedometer"></i>
			</span>
			<span class="menu-title">İletişim</span>
		</a>
	</li>
</ul>